/* ======================================================================= */
/* ======================================================================= */
/* ======================================================================= */
/* Definition of itag shadow-css is done by defining a `dummy` css-rule    */
/* for the dummy-element: `itag-css` --> its property (also dummy) `i-tag` */
/* will define which itag will be css-shadowed                             */
/* ======================================================================= */
itag-css {
    i-tag: i-splitdiv;  /* set the property-value to the proper itag */
}
/* ======================================================================= */
/* ======================================================================= */
/* ======================================================================= */


/* ================================= */
/* set invisiblity when not rendered */
/* ================================= */
i-splitdiv:not(.itag-rendered) {
    /* don't set visibility to hidden --> you cannot set a focus on those items */
    opacity: 0 !important;
    position: absolute !important;
    left: -9999px !important;
    top: -9999px !important;
    z-index: -1;
}

i-splitdiv:not(.itag-rendered) * {
    opacity: 0 !important;
}
/* ================================= */

i-splitdiv {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* the next css comes from purecss: the class `.pure-g`: */
    letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
    *letter-spacing: normal; /* reset IE < 8 */
    word-spacing: -0.43em; /* collapse white-space between units */
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
    /*
    Resets the font family back to the OS/browser's default sans-serif font,
    this the same font stack that Normalize.css sets for the `body`.
    */
    font-family: sans-serif;
    /*
    Use flexbox when possible to avoid `letter-spacing` side-effects.
    NOTE: Firefox (as of 25) does not currently support flex-wrap, so the
    `-moz-` prefix version is omitted.
    */
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    /* IE10 uses display: flexbox */
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
}

i-splitdiv >div {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

i-splitdiv >div >div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 2;
    overflow: hidden; /* needed to make decrease to low values posible when section has padding */
}

i-splitdiv.itag-rendered:not(.i-resizing) >div >div:not(.suppress-trans) {
    -moz-transition: width 0.5s, margin-left 0.5s, padding-left 0.5s, height 0.5s, margin-top 0.5s, padding-top 0.5s;
    -o-transition: width 0.5s, margin-left 0.5s, padding-left 0.5s, height 0.5s, margin-top 0.5s, padding-top 0.5s;
    -webkit-transition: width 0.5s, margin-left 0.5s, padding-left 0.5s, height 0.5s, margin-top 0.5s, padding-top 0.5s;
    transition: width 0.5s, margin-left 0.5s, padding-left 0.5s, height 0.5s, margin-top 0.5s, padding-top 0.5s;
}

i-splitdiv >div >div.hidden-copy {
    position: absolute !important;
    z-index: -1 !important;
    opacity: 0 !important;
}

i-splitdiv >div >div >section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

i-splitdiv >div >div:last-child {
    z-index: 1;
}

i-splitdiv[horizontal="true"] >div >div {
    display: inline-block;
}

i-splitdiv .resize-handle {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 16px;
}

i-splitdiv .resize-handle[plugin-dd="true"] {
    z-index: 3;
}

i-splitdiv.i-resizing,
i-splitdiv .resize-handle[plugin-dd="true"]:hover {
    cursor: row-resize;
}

i-splitdiv[horizontal="true"].i-resizing,
i-splitdiv[horizontal="true"] .resize-handle[plugin-dd="true"]:hover {
    cursor: col-resize;
}

i-splitdiv[horizontal="true"] .resize-handle {
    width: 16px;
    height: 100%;
}